<!-- Search Bar -->
<div class="search-widget">
  <input type="text" placeholder="Search">
  <button><i class="fas fa-search"></i></button>
</div>

<!-- Weather Widget -->
<aside class="sidebar">
  {% include "search-widget.njk" %}
  {% if category == 'Sports' %}
    {% include "sports-widget.njk" %}
  {% endif %}
  {% include "weather-widget.njk" %}

<!-- TradingView Widget -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/news/top-providers/tradingview/" rel="noopener nofollow" target="_blank"><span class="blue-text">Top stories</span></a><span class="trademark"> by TradingView</span></div>
</div>
<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-timeline.js" async>
{
  "displayMode": "adaptive",
  "feedMode": "market",
  "colorTheme": "dark",
  "isTransparent": true,
  "locale": "en",
  "market": "forex",
  "width": "100%",
  "height": 400
}
</script>
