---
layout: category.njk
title: Entertainment
pagination:
  data: entertainmentp
  size: 10
  alias: articles
permalink: "/entertainment/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
---
