---
title: Entertainment
layout: category.njk
pagination:
  data: entertainmentp   # src/data/entertainmentp.json
  size: 5
  alias: articles
permalink: /pages/entertainment/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}
---
