---
title: Finance
layout: category.njk
pagination:
  data: financep   # src/data/financep.json
  size: 5
  alias: articles
permalink: /pages/finance/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}
---
