---
layout: category.njk
title: Politics
pagination:
  data: politicsp
  size: 10
  alias: articles
permalink: "/politics/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
---
