---
title: Politics
layout: category.njk
pagination:
  data: politicsp   # src/data/politicsp.json
  size: 5
  alias: articles
permalink: /pages/politics/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}
---
