{% extends "./base.njk" %}

{% block content %}
<pre>
  ARTICLES:
  {{ articles | dump }}

  PAGINATION:
  {{ pagination | dump }}
</pre>

<div class="category-page container">
  <h1>{{ title }} - Test Layout</h1>
  <main class="category-main">
    {% for article in articles %}
      <h2>{{ article.title }}</h2>
    {% endfor %}
  </main>
</div>
{% endblock %}
